html {
  font-size: 62.5%;
}
h1,
h2,
h3,
h4,
h5 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 1.1;
}
h1 {
  font-size: 3.6rem;
  margin-bottom: 20px;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.4rem;
}
h4 {
  font-size: 1.8rem;
}
h5 {
  font-size: 1.4rem;
}
p {
  line-height: 1.5;
  font-size: 1.4rem;
  color: #777;
}
img {
  max-width: 100%;
  height: auto;
}
#pointer {
  width: 200px;
  height: 80px;
  position: relative;
  background: red;
}
#pointer:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 40px solid white;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
}
#pointer:before {
  content: "";
  position: absolute;
  right: -40px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 40px solid red;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.container {
  max-width: 1005px;
  margin: 0 auto;
  padding: 0.7rem 1rem;
}
.first-section {
  background-color: #DFF5F2;
  color: #0A141E;
}
.first-section .landing {
  padding-top: 2rem;
}
.first-section h1 {
  font-size: 4rem;
  color: #111E2E;
  text-decoration: underline;
}
.first-section p {
  font-size: 1.7rem;
  padding-bottom: 20px;
}
.first-section .top {
  width: 500px;
  padding-top: 30px;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 550px) {
  header {
    text-align: center;
  }
}
header .navigation {
  display: flex;
  flex-direction: row;
}
header nav {
  margin: 2rem auto 0;
  max-width: 600px;
}
header nav a {
  text-decoration: none;
  font-size: 1.8rem;
  color: #777;
  padding: 0 20px;
}
header nav a:hover {
  text-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.025);
}
header nav .lite {
  border: 1px solid #E19F20;
  width: 100px;
  border-radius: 50px;
  text-align: center;
}
main {
  display: flex;
  flex-direction: row;
}
main h2 {
  font-size: 25px;
}
@media (max-width: 550px) {
  main {
    display: flex;
    flex-direction: column;
  }
}
.figure {
  padding: 20px;
}
.tools {
  clip-path: polygon(18% 42%, 80% 0%, 100% 100%, 0% 100%);
  padding: 10px;
  clip-path: padding: 10px;
}
button {
  border-radius: 0.8rem;
  background-color: #E19F20;
  color: #0A141E;
  width: 11rem;
  padding: 1rem 1.8rem;
  background-color: #ffd262;
  border-color: #e4b34f;
  border: 1px solid transparent;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
h4 {
  color: #777;
}
.bottom-section {
  background-color: #f7f7f7;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 100px 70px;
}
.bottom-section .grid3 {
  padding: 0 30px;
  flex-basis: 33%;
  text-align: center;
}
.fa {
  font-size: 26px;
  margin-right: 15px;
  margin-left: 20px;
  background-color: white;
  color: #d0d0d0;
  border-radius: 51%;
  /* padding: 10px; */
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 43px;
  text-decoration: none;
  transition: color 0.2s;
}
.how-it-works {
  margin-top: 20px;
}
.title {
  color: #036;
  font-size: 16px;
  font-style: normal;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.col-lg-3 {
  width: 25%;
}
@media (max-width: 550px) {
  .col-sm-12 {
    width: 100%;
  }
}
.col-md-6 {
  float: left;
}
.how-it-works-item {
  background: #00cbbc;
  background-position: left center;
  background-size: cover;
  margin-bottom: 20px;
  border-radius: 20px;
}
.how-it-works-number {
  display: table-cell;
  height: 130px;
  padding: 53px 0 0 15px;
  position: relative;
  width: 12%;
}
.how-it-works-content {
  display: table-cell;
  padding: 25px 9px 25px 36px;
  text-align: left;
  vertical-align: middle;
  width: 88%;
}
.how-it-works-value {
  color: #fff;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
}
.how-it-works-head {
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  margin: 0 0 4px;
}
.how-it-works-description {
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}
.pricing {
  color: #404040;
  background: #eeebe4;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.pricing h3 {
  font-size: 28px;
  text-decoration: underline;
}
.flex-container {
  display: flex;
  padding: 1em;
}
.flex-item {
  flex: 1;
  width: 0;
}
.flex-item:not(:last-child) {
  margin-right: 1em;
}
.package {
  border: 1px solid #eee;
  list-style-type: none;
  margin: 0;
  padding: 0;
  transition: 0.25s;
}
.package:hover {
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.025);
}
.package .header {
  background-color: #333;
  color: #fff;
  font-size: 1.5em;
}
.package .highlight {
  background-color: #29b6f6;
}
.package li {
  background-color: #fff;
  border-bottom: 1px solid #eee;
  padding: 1.2em;
  text-align: center;
}
.package .gray {
  background-color: #eee;
  font-size: 1.25em;
}
button {
  background-color: #29b6f6;
  border: none;
  border-radius: 0.15em;
  color: #fff;
  cursor: pointer;
  padding: 0.75em 1.5em;
  font-size: 1em;
}
@media only screen and (max-width: 700px) {
  button {
    padding: 0.75em;
  }
}
@media only screen and (max-width: 600px) {
  .flex-container {
    flex-wrap: wrap;
  }
  .flex-item {
    flex: 0 0 100%;
    margin-bottom: 1em;
    width: 100%;
  }
  .flex-item .ptag {
    border-radius: 10px;
  }
  .flex-item .package:hover {
    box-shadow: none;
    transform: none;
  }
  .flex-item button {
    padding: 0.75em 1.5em;
  }
}
/* footer css */
#myFooter {
  padding-top: 32px;
}
#myFooter .container {
  text-align: center;
}
#myFooter .footer-copyright {
  margin-top: 40px;
  text-align: center;
  color: #777;
}
#myFooter li {
  display: inline-block;
  margin: 0px 15px;
  line-height: 2;
}
#myFooter .footer-social {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 1px;
  background-color: #eee;
}
#myFooter .fa {
  font-size: 26px;
  margin-right: 15px;
  margin-left: 20px;
  background-color: white;
  color: #d0d0d0;
  border-radius: 51%;
  /* padding: 10px; */
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 43px;
  text-decoration: none;
  transition: color 0.2s;
}
#myFooter .fa-facebook:hover {
  color: #2b55ff;
}
#myFooter .fa-facebook:focus {
  color: #2b55ff;
}
#myFooter .fa-instagram:hover {
  color: red;
}
#myFooter .fa-instagram:focus {
  color: red;
}
#myFooter .fa-twitter:hover {
  color: #00aced;
}
#myFooter .fa-twitter:focus {
  color: #00aced;
}
/* CSS used for positioning the footers at the bottom of the page. */
/* You can remove this. */
#myFooter {
  flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
}
